/* Genel Konteyner Stili */
.container {
  width: 70vw;
  margin: 0 auto;
  padding-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Profil Resmi */
.profileImg {
  width: 25vw;
  height: 58vh;
  object-fit: cover;
  border-radius: 12px; /* Hafif yuvarlatılmış köşeler */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge efekti */
}

/* Yan Bölüm */
.side {
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

/* Link Kutusu */
.linkBox {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Link ve Link Türü */
.linkType,
.link {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.linkType {
  margin-right: 2vw;
  color: #444; /* Hafif gri ton */
}

/* Kopyalama Başarılı Mesajı */
.copySuccess {
  position: absolute;
  margin-left: 1vw;
  color: #d9534f;
  text-decoration: none;
  opacity: 0;
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Alt Bilgi */
.siteBy {
  font-size: 12px;
  color: #848482;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
}

/* Tablet (768px - 1023px) */
@media (max-width: 1023px) {
  .container {
    width: 80vw;
    padding-top: 15vh;
  }

  .profileImg {
    width: 30vw;
    height: auto;
    margin: 0 auto;
  }

  .side {
    width: 40vw;
    margin: 0 auto;
  }
}

/* Küçük Tablet & Büyük Telefon (max 767px) */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    width: 90vw;
    padding-top: 12vh;
  }

  .profileImg {
    width: 80%;
    height: auto;
  }

  .side {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
  }

  .linkBox {
    justify-content: center;
  }
}

/* Küçük Telefonlar (max 479px) */
@media (max-width: 479px) {
  .container {
    width: 90vw;
    font-size: 14px;
    padding-top: 10vh;
  }

  .profileImg {
    width: 70vw;
    height: auto;
  }

  .side {
    width: 100%;
    text-align: center;
  }
}
